<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.ac.ecc.sk3a12.ikouka">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.MainActivity"
            android:label="ikouka"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.HomeActivity"
            android:label=".HomeActivity" />

        <activity
            android:name=".Activity.RegisterActivity"
            android:label=".RegisterActivity"
            android:parentActivityName=".Activity.HomeActivity" />
        <activity
            android:name=".Activity.GroupActivity"
            android:parentActivityName=".Activity.MainActivity" />

        <activity android:name=".Activity.AnketoCreateActivity" />
        <activity
            android:name=".Activity.TestActivity"
            android:label="@string/title_activity_test"
            android:parentActivityName=".Activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="jp.ac.ecc.sk3a12.ikouka.Activity.MainActivity" />
        </activity>
    </application>

</manifest>